table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
}

table {
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 0px;
	border-style: dashed;
}

h1 {
	margin-top: 200px;
	padding-top: 0;
	font-size: 1em;
	text-align: center;
	line-height: 1em;
}

th, td {
	padding: 5px
}

p {
	margin-left: 30px;
	margin-right: 30px;
}

li {
	list-style: none;
}

th.miv {
	font-size: 0.78em;
	text-decoration: bold;
	text-align: center;
}

table.tbl3 {
	border: 1px solid black;
	border-collapse: collapse;
	border-style: hidden dashed dashed dashed;
	text-align: left;
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 0px;
}

table.par {
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 0px;
	border: 1px solid black;
	border-collapse: collapse;
	border-style: solid;
	text-align: left;
}

td.garv {
	border-style: hidden hidden solid;
}

td.wrs {
	border-style: solid solid solid hidden;
	vertical-align: top;
}

td.wrs_va {
	vertical-align: top;
}

p.par {
	line-height: 0.5em;;
}

p.par_right {
	margin-right: 30px;

	float: right;


	padding-bottom: -1.5%;
}

p.par_left {
	margin-right: 30px;

	float: left;

	padding-bottom: -1.5%;
}

p.date {
	margin-right: 30px;
	display: block;
	width:50px;
	float: right;
}

.left_marg {
	margin: 80px 50px;
	line-height: 1.5em;
	display: block;
	float: left;
	width: 200px;
	background-color: white;
	font-size: 0.75em;
}

.right_marg {
	margin: 80px 50px;
	line-height: 1.5em;
	display: block;
	float: right;
	width: 300px;
	background color: white;
	font-size: 0.75em;
}

.left_marg_par {
	margin: 80px 5px;
	line-height: 1.5em;
	display: block;
	float: left;
	width: 200px;
	background-color: white;
	font-size: 0.75em;
}

.left_marg_garv {
	margin-top: 0;
	margin-left: 30px;
	line-height: 1.5em;
	display: block;
	float: left;
	width: 950px;
	background-color: white;
	font-size: 1em;
}

.left_marg_wrs {
	margin-top: 50px;
	line-height: 1.5em;
	display: block;
	float: center;
	width: 400px;
	background-color: white;
	font-size: 1em;
	text-align: center;
}

.left_marg_npclogo {
	margin-top: 80px;
	margin-left: 30px;
}

.left_marg_norm {
	margin: 20px 50px;
	display: block;
	float: left;
	width: 200px;
	background-color: white;
	font-size: 0.9em;
	padding-bottom: -1.5%;
}

.right_marg_norm {
	margin: 20px 50px;
	display: block;
	float: right;
	width: 220px;
	background-color: white;
	font-size: 0.9em;
	padding-bottom: -1.5%;
}
